/* layout/ dossier où mettre blocs BEM, contient ce qui est réutilisable */

@import '../components/buttons';


.btn--nouveau {
    @include btn--nouveau();
}


.menu__entrees--btn, .menu__desserts--btn, .menu__plats--btn {
    @include btn--white();
}



#main_wrapper {
    @include flexbox();
}
header {
    @include flexbox();
    @include block_header();
    h1 {
        @include element_big_logo();
        @include margins(10px);
    }
} 
section {


    >h1 {
        @include element_big_logo();
        font-size: 30px;
        text-align: left;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    h3 {
        @include font_bold();
        font-size: 16px;
    }
    h4 {
        font-weight: normal;
        font-size: 16px;

    }
}


footer {
    @include flexbox(column,start,start);
    @include block_footer();
    >h1 {
        @include element_small_logo();
        @include margins(15px);

    }
    >h2 {
        @include margins(5px);
        i{
            margin-right: 12px;
        }
    }
} 