/* components/ permet de ranger les blocs BEM qui sont plus indépendants, par exemple avec les boutons. */

@import '../base/base';


/*Buttons*/

@mixin block_wrapper() {
    font-family: $text;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    color:$text-color_1;
    background-color:$background_primary;
}

@mixin block_header() {
    font-family: $text;
    font-weight:400;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    color: $text-color_1;
    background-color: $background_primary;
}

@mixin block_restaurants() {
  font-family: $text;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: $text-color_1;
  background-color: $background_primary;
  
}

@mixin block_footer () {
  font-family: $text;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: $text-color_2;
  background-color: $background_footer;
}

@mixin dot--violet() {
    position:relative;
    left: -8px;
    background-color:$color_primary;
    border-radius: 50%;
    padding-left: 4px;
    padding-right: 4px;
    color: $text-color_2;
}

@mixin element_big_logo () {
    font-family: $logo;
    font-size: 48px;
    font-weight:400;
    font-style: normal;
    text-align: center;
    color:$text-color_1;
  }

  @mixin element_small_logo () {
    font-family: $logo;
    font-size: 16px;
    font-weight:400;
    font-style: normal;
    text-align: left;
    color: $text-color_2;
  }

  @mixin btn--loca {
    width: 100%;
    background-color:$background_secondary;
    color:$text;
    height: 16px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9rem;
    font-weight: 599;
    box-shadow:inset 0 2px 3px darken($background_secondary,20%);
  }

  @mixin btn--violet {
    background: linear-gradient($color_secondary,$color_primary);
    color: $background_primary;
    width: 60%;
    height: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 23px 23px 23px 23px;
    }

    @mixin btn--grey {
      background-color: $background_secondary;
      color: $text;
      height: 18px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 16px;     
    }

    @mixin btn--nouveau {
      width: 23%;
      height: 35px;
      display: block;
      line-height: 35px;
      text-align: center;
      position: absolute;
      right: 15px;
      top: 15px;
      background-color: $color_accent;
      border-radius: 4px;
      color: $text-color_4;

    }

    @mixin element_photo() {
      width: 100%;
      height: 192px;
      border-radius: 15px 15px 0px 0px;
      box-shadow: $block-shadow;
    }

    @mixin element_photo_texte() {
      background-color: $background_primary;
      box-shadow: 0 -4px $background_primary;
      border-radius: 0px 0px 15px 15px;
    }
    
    @mixin btn--white {
      background-color: $background_primary;
      color: $text;
      border-radius: 16px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 15px;
    }

    .header__arrow {
      position: absolute;
      left: 2rem;
      height: 2rem;
      width: 2rem;
      top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(-50%);
      font-size: 1.2rem;
      color: #000;
    }

    .image-restaurant {
      display: flex;
      width: 100%;
      height: 400px;     
    }

    .menu h2 {
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      font-size: 18px;
    }


    .submenu {
      text-transform: uppercase;
      position: relative;
      padding-bottom: .5rem;
      font-weight: 400;
    }


    .submenu::after {
      content: "";
      width: 3rem;
      height: .25rem;
      background-color: #99e2d0;
      position: absolute;
      left: 0;
      bottom: 0;
    }




    footer {
      >h2 {
        font-weight: normal;
        font-size: 16px;
      }
    }




    .restaurant {
      border-radius: 15px 15px 15px 15px;
      box-shadow: $block-shadow;
    }

    .wrapper__restaurants__photo {
      width: 100%;
      object-fit: cover;
    }


    .wrapper__restaurants__texte__gauche {
      position: relative;
    }

    .wrapper__restaurants__texte__gauche .wrapper__restaurants__coeur {
      position: absolute;
      right: 10px;
      top: 0;
    }
    
    .menu__prix {
      font-weight: bold;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-left: .5rem;
      position: relative;
      bottom: 15px;
    }

    .menu__coeur {
      position: absolute;
      right: 20px;
      background-color: $color_primary,$color-secondary;
    }

    .menu__coeur:hover {
      background: #f6f6f6fd;
    }


    .fa-heart{
      cursor: pointer;
      font-size: 2rem;
      background: #f6f6f6;
    }


    #heartHover {
      position: absolute;
      right: 0;
      opacity: 0;
    }

    #heartHover:hover{
      opacity: 1;
      color: #db6ddb;
    }

    .section .menu {
      border-radius: 15px 15px 0px 0px;
    }



    .menu__entrees--btn, .menu__plats--btn, .menu__desserts--btn{
      position: relative;
      box-shadow: $block-shadow;
      background-color: white;
      padding: 1rem;
      border-radius: 0.75rem;
      margin: 1rem 0;
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
      overflow: hidden;
      cursor: pointer;
      animation: itemAppear .6s;
      animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
      animation-fill-mode: both;
      transform: scale(0);
      max-width: 100%;
      display: flex;
    
    }


    


    .delay-0 {
      animation-delay: 0s;
    }

    .delay-1 {
      animation-delay: .1s;
    }

    .delay-2 {
      animation-delay: .2s;
    }

    .delay-3 {
      animation-delay: .3s;
    }

    .delay-4 {
      animation-delay: .4s;
    }

    .delay-5 {
      animation-delay: .5s;
    }

    .delay-6 {
      animation-delay: .6s;
    }
    .delay-7 {
      animation-delay: .7s;
    }
    .delay-8 {
      animation-delay: .8s;
    }

    .checkAnim {
      width: 100%;
      position: relative;
    }



    .title, .description {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      top: 6px;
    }


    .fas {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      justify-content: center;
    }


    .confirmation {
      background-color: #99e2d0;
      width: 4rem;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      transition-duration: .5s;
      position: absolute;
      right: -65px;
      padding-top: 30px;
      padding-bottom: 30px;
      align-content: center;
      top: 0;
    }

    .liste li:hover > .confirmation{
      margin-right: 3rem;
    }

    .liste li:hover > .confirmation .wrapIcon {
      transform: rotate(360deg);
    }


    .wrapIcon {
      height: 1.6rem;
      width: 1.6rem;
      background-color: #fff;
      display: flex;
      position: relative;
      left:0;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      transition: transform 500ms;
      transition-duration: .5s;
      color: $color-accent;
    }


    .wrapper__intro__04 {
      cursor: pointer;
    }

    .wrapper__intro__04:hover {
      box-shadow: $block-shadow;
    }



    .loader {
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.90);
      animation: loader 0.01s;
      animation-delay: 1.55s;
      animation-fill-mode: both;
      z-index: 10000;
      display:flex;
      align-items:center;
      justify-content:center;
    
      &__item {
        height: 2rem;
        width: 2rem;
        border-radius: 4rem;
        animation: jump 0.7s;
        animation-iteration-count: 1;
    
        &Container {
          display: flex;
          width: 8rem;
          justify-content: space-between;
        }
    
        &--1 {
          background-color: $color-primary;
        }
      
        &--2 {
          background-color: $color-secondary;
          animation-delay: 0.25s;
        }
      
        &--3 {
          background-color: $color_accent;
          animation-delay: 0.5s;
        }
      }
    }
    

    @keyframes itemAppear {
      0% {
        transform: scale(0)
      }
      100% {
        transform: scale(1);
      }
    }
    
    @keyframes loader {
      100% {
        opacity: 0;
        z-index: -10;
      }
    } 
    
    @keyframes jump {
      0% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(0.5rem);
      }
      75% {
        transform: translateY(-0.5rem);
      }
      100% {
        transform: translateY(0);
      }
    
    }



