/* base/ contient les fichiers qui définissent
les fondations du site, comme la police de caractères 
et les normes que vous voulez appliquer sur tout votre site */



a {
    text-decoration: none;
    color: black;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}