@import '../utils/variables';

@font-face {
    font-family:'shrikhandregular';
    src: url('/Fonts/shrikhand-regular.eot');
    src: url('/Fonts/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Fonts/shrikhand-regular.woff') format('woff'),
         url('/Fonts/shrikhand-regular.woff2') format('woff'),
         url('/Fonts/Shrikhand-regular.ttf') format('truetype'),
         url('/Fonts/shrikhand-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

