@import '../utils/variables';

@font-face {
    font-family: 'shrikhandregular';
    src: url('shrikhand-regular-webfont.eot');
    src: url('Fonts/shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Font/shrikhand-regular-webfont.woff') format('woff'),
         url('Font/shrikhand-regular-webfont.woff2') format('woff'),
         url('Fonts/shrikhand-regular-webfont.ttf') format('truetype'),
         url('Fonts/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}