/*  pages/ contient blocs de code ne s'appliquant qu'à une seule page  */

@import'../layout/firstlayout.scss';


.wrapper {
    @include flexbox();
    @include block_wrapper();
    &__intro {
        @include flexbox;
        text-align: center;
        padding-bottom: 20px;
        &__01 {
            @include btn--loca;
            i {
                margin-right: 10px;
            }
        }
        &__02{
            padding-top: 20px;
            @include margins(20px);
            @include font_bold();
        }
        &__03 {
            @include margins(20px);
        }
        &__04 {
            @include margins(20px);
            @include btn--violet;
        }
    }

    
    &__steps {
        @include flexbox();
        padding-top: 10px;
        padding-bottom: 30px;
        >h2 {
            @include margins(20px);
            @include font_bold();
        }
        ol {
            @include margins(0px);
            i {
                margin-right: 15px;
                margin-left: 20px;
            }
        li {
            @include margins(10px);
            @include btn--grey;
            .dot--violet {
                @include dot--violet();
            }
            i {
                color: $background_secondary;
            }
        
        }
    }
}
        &__restaurants {
            @include flexbox;
            @include block_restaurants();
            article {
                @include margins(10px);
                .btn--nouveau {
                    @include btn--nouveau()
                }
            }
            >h2 {
                @include margins(10px);
                @include font_bold();
            }
            &__photo {
                @include element_photo();
            }
            &__texte {
                @include flexbox (row,center,center,wrap);
                @include element_photo_texte();
                &__gauche {
                    margin-left:5%;
                    h3 {
                        @include margins(5px,0%,100%);
                        @include font_bold();
                    }
                    h4 {
                        @include margins(5px,0%,100%);
                    }
                }
                &__droite {
                    margin-top: auto;
                    margin-bottom: auto;
                    width: 25%;
                    text-align: right;
                    margin-right: 5%;
                }
            }
            &__coeur {
                display: inline;
                text-align: right;
            }

        }









}