/* utils/  où ranger variables,fonctions,mixins et les %placeholders pour extensions */

/* Fonts */
@mixin font_bold() {
    font-weight: 700;
    font-size: 1.4rem;
}


@mixin flexbox ($direction:column,$primary-axe:center,$secondary-axe:center,$wrap:wrap) {
    width: 100%;
    display: flex;
    flex-direction: $direction;
    justify-content: $primary-axe;
    align-items: $secondary-axe;
    flex-wrap: $wrap;  
}

@mixin margins ($height: 0px ,$width: 5%, $main-width:90%) {
    width: $main-width;
    margin-top: $height;
    margin-bottom: $height;
    margin-left:$width;
    margin-right:$width;
  }

