/* utils/  où ranger variables,fonctions,mixins et les %placeholders pour extensions */

/* FONTS */
@mixin font_bold() {
    font-weight: 700;
    font-size: 1.4rem;
}
/* FIN FONTS */

@mixin flexbox ($direction:column,$primary-axe:center,$secondary-axe:center,$wrap:wrap) {
    width: 100%;
    display: flex;
    flex-direction: $direction;
    justify-content: $primary-axe;
    align-items: $secondary-axe;
    flex-wrap: $wrap;  
}

@mixin margins ($height: 0px ,$width: auto, $main-width:100%) {
    width: $main-width;
    margin-top: $height;
    margin-bottom: $height;
    margin-left:$width;
    margin-right:$width;
  }

  /*MEDIA QUERIES*/
@mixin small-size{
    @media screen and (min-width: map-get($breakpoints, small)) {
        @content;
    }
}
@mixin medium-size{
    @media screen and (min-width: map-get($breakpoints, medium)) {
        @content;
    }
}
@mixin large-size{
    @media screen and (min-width: map-get($breakpoints, large)) {
        @content;
    }
}
@mixin xlarge-size{
    @media screen and (min-width: map-get($breakpoints, x-large)) {
        @content;
    }
}
@mixin xxlarge-size{
    @media screen and (min-width: map-get($breakpoints, xx-large)) {
        @content;
    }
}
/*FIN MEDIA QUERIES*/
