/* utils/  où ranger variables,fonctions,mixins et les %placeholders pour extensions */


/* Colors */

$color_primary: #9356DC;
$color_secondary: #FF79DA;
$color_accent: #99E2D0;
/* header color */
$background_primary: white;

/* localisation color*/ 
$background_secondary: lighten(grey,40%);

/* footer color */
$background_footer: #353535;

/* text color */
$text-color_1:black;
$text-color_2:white;
$text-color_3:lighten(grey,25%);
$text-color_4:darken($color_accent,40%);


/*Fonts*/
$logo:shrikhandregular;
$text:'Roboto', sans-serif;

$block-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);


$breakpoints: (
    small: 320px,
    medium: 768px,
    large: 1024px,
    x-large: 1440px,
    xx-large: 2560px
);